<%= div_for play, :class => "list" do %>
	<div class="play_photos">
	<div class="play_original_photo">
		<%= link_to image_tag(play.photo.thumb, :alt => play.photo.title), play.photo.url, :rel => 'lightbox', :class => 'plain', :title => "#{play.photo.title}: Original" %>
		<span class="photo_title">Original</span>
	</div>
	<div class="play_user_photo">
		<%= link_to image_tag(play.thumb, :alt => play.photo.title), play.url, :rel => 'lightbox', :class => 'plain', :title => "#{play.photo.title}: Taken by user" %>
		<span class="photo_title">Taken by user</span>
	</div>
	</div>
	<div class="play_description">
		<%= link_to play.photo.title, play.photo %> found by <%= link_to play.user.alias, play.user %>  <%= distance_of_time_in_words_to_now play.end_time %> ago.
		<% if details_link %>
		<br/><br/>
		<%= link_to "Details", play %>
		<% end %>
	</div>
<% end %>