<h2><%= @play.photo.title %> played by <%= @play.user.alias %></h2>

<%= render :partial => @play, :locals => {:details_link => false} %>

This might be the route <%= @play.user.alias %> took to find the photo:<br/><br/> 

<%= map(@play, @play.photo)%>

<div class="clear back">
<%= link_to 'Back', plays_path %>
</div>