<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @play.user_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @play.photo_id %>
</p>

<p>
  <b>Radius:</b>
  <%= @play.radius %>
</p>

<p>
  <b>Lat:</b>
  <%= @play.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @play.lng %>
</p>

<p>
  <b>End time:</b>
  <%= @play.end_time %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
