<h2><%= @play.photo.title %> played by <%= @play.user.alias %></h2>

<%= render :partial => @play, :locals => {:details_link => false} %>

<%= map(@play, @play.photo)%>

<div class="clear back">
<%= link_to 'Back', plays_path %>
</div>