<h2><%= @user.alias %></h2>
<%= @user.alias %> is using her/his <%= @user.device %> to play photocaching.
<h3>The newest photos submitted by <%= @user.alias %></h3>
<%= render :partial => "photos/photo", :collection => @user.photos%>
