<% content_for :first_two_columns do%>
<div id="double_column">
<h1>Edit page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'editor' , :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
</div>
<% end %>