<h2><%= @photo.title %></h2>

<div class="photo_image">
	<%= link_to image_tag(@photo.thumb, :alt => @photo.title), @photo.url, :rel => 'lightbox', :class => 'plain', :title => @photo.title%>
</div>

<div class="show_details">
	Submitted by <%= link_to @photo.user.alias, @photo.user %>  <%= distance_of_time_in_words_to_now @photo.created_at %> ago.<br /><br />

	<%= number_to_human @photo.plays.count %> <%= pluralize @photo.plays.count, "user has", "users have" %> looked for the location of this photo. <br/><br/>
	Can you find the location of this photo? Get the <%= link_to "Photocaching App", "http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&ls=1" %> and start out.
	

	<ul class="plays">
	<%= render :partial => "play", :collection => @photo.plays %>
	</ul>
</div>

<div class="clear map">
	This photo has been taken somewhere around here:<br/><br/>
	
	<%= map_photo @photo %>
</div>
	

<div class="clear back">
<%= link_to 'Back', photos_path %>
</div>