<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Photocaching
		</title>
		<%= stylesheet_link_tag "style", "lightbox", :cache => "main" %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "lightbox" %>
		<%= javascript_include_tag "builder" %><%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="main">
				<div id="navbar">
					<ul>
						<li>
							<a href="/" title="Start Here">Start Here</a>
						</li>
						<li>
							<%= link_to "Photos", photos_path(:html)%>
						</li>
						<li>
							<%= link_to "Plays", plays_path %>
						</li>
						<li>
							<%= link_to "Contact", "/contact/new" %>
						</li>
					</ul>
				</div>
				<div id="header">
					<div id="left_bar_header">
						<span class="title_dark">i</span><span class="title">Photo</span><span class="title_dark">Cache</span>
						<p>
							<b>iPhotoCache</b> sends you on a race to find the locations where photos have been taken by other users. Get the <a href="http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&amp;ls=1">Photocaching</a> app for iPhone and iPad and get on the streets!
						</p>
					</div>
					<div id="right_bar_header">
						<img src="/images/head_bckg_right.jpg" alt="">
					</div>
				</div>
				<div id="content">
					<%= yield(:first_two_columns) %>
					<div id="third_column">
						<h1>
							<span class="red">Get the App</span>
						</h1><% if @page %>
						<p>
							<a href="http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&amp;ls=1"><img class="iphoneapp" src="/images/iphone.png"></a> <a href="http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&amp;ls=1">Get the Photocaching app for iPhone and iPad</a>
						</p><% else %>
						<p>
							<a href="http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&amp;ls=1"><img class="iphoneapp" src="/images/iphone_small.png"></a> <a href="http://itunes.apple.com/us/app/photocaching/id418114416?mt=8&amp;ls=1">Get the Photocaching app for iPhone and iPad</a>
						</p><% end %>
					</div><%= yield(:gallery)%>
				</div>
				<div id="footer">
					<div class="left_footer">
						<%= link_to "Contact", "/contact/new" %>&nbsp;|&nbsp;<%= link_to "Terms of Service", "/static/tos_web.html" %>&nbsp;|&nbsp;<%= link_to "Privacy Policy", "/static/privacy_policy.html" %>&nbsp;|&nbsp;<%= link_to "Terms of Service for Uploading Pictures", "/static/tos.html" %>
					</div>
					<div class="right_footer">
						<div id="footer_right">
							<p>
								Layout based on <b>Orange</b>, which is a free template released by <a href="http://www.realitysoftware.ca">Reality Software</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
